<div class="container-fluid mb-5">
  <div class="alert alert-danger" *ngIf="errmsg">
    {{ errmsg }}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" target="/protocols" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Protocol Name</label>
      <input type="text" required #name="ngModel"
             [class.is-invalid]="name.invalid && name.touched" class="form-control"
             name="protocolName" [(ngModel)]="protocolModel.protocolName">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Protocol name is required</small>
    </div>

    <div class="form-group">
      <h5>Cloud Providers</h5><br>
      <label>
        Cloud Provider Name <br> <br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="selectedCP" name="cloudProviderName"
                         #cloudProviderName="ngModel" required
                         [class.isInvalid]="cloudProviderName.invalid && cloudProviderName.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let cp of cloudProvidersName" [value]="cp">
            {{cp}} <br>
          </mat-radio-button>
        </mat-radio-group>
      </label>
      <br>

      <!--TODO validators for checkbox-->

      <ng-container *ngIf="cloudProviderName.value === 'AWS'; else azure">
        Regions<br><br>
        <ng-container *ngFor="let r of awsRegions">
           <mat-checkbox (change)="onCheckBoxChange($event, r)">{{r}}</mat-checkbox><br>
        </ng-container>
      </ng-container>

      <ng-template #azure>
        <ng-container *ngIf="cloudProviderName.value === 'Azure'">
          Regions<br><br>
          <ng-container *ngFor="let r of azureRegions">
           <mat-checkbox (change)="onCheckBoxChange($event, r)">{{r}}</mat-checkbox><br>
          </ng-container>
        </ng-container>
      </ng-template>
      <br>

      <ng-container *ngIf="cloudProviderName.value === 'AWS'; else azInstances">
        Instance Type <br><br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="instanceType" name="awsInstanceType"
                         #awsInstanceType="ngModel" required
                         [class.isInvalid]="awsInstanceType.invalid && awsInstanceType.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let ai of awsInstances" [value]="ai">
            {{ai}} <br>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

      <ng-template #azInstances>
        <ng-container *ngIf="cloudProviderName.value === 'Azure'">
          Instance Type <br><br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="instanceType" name="azureInstanceType"
                         #azureInstanceType="ngModel" required
                         [class.isInvalid]="azureInstanceType.invalid && azureInstanceType.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let ai of azureInstances" [value]="ai">
            {{ai}} <br>
          </mat-radio-button>
        </mat-radio-group>
        </ng-container>
      </ng-template>
      <br>
      <br>

      <label>
        Number Of Parties<br>
        <input type="number" required #numberOfParties="ngModel"
               [class.is-invalid]="numberOfParties.invalid && numberOfParties.touched" class="form-control"
               name="numberOfParties" [(ngModel)]="numOfParties">
         <small class="text-danger" [class.d-none]="numberOfParties.valid || numberOfParties.untouched"></small>
        <!--TODO Numbers validation-->
      </label>
      <br>


      <label>
        Git Address
        <input type="url" required (blur)="validateAddress(repoAddress.value)"
        (change)="validateAddress(repoAddress.value)" #repoAddress="ngModel"
               [class.is-invalid]="repoAddress.invalid && repoAddress.touched"
               class="form-control" name="repoAddress" [(ngModel)]="gitAddress">
        <small class="text-danger" [class.d-none]="repoAddress.valid || repoAddress.untouched">
          Git Address is required and must be valid http/https address</small>
      </label>
      <br>

      <label>
        Git Branch
        <input type="text" required #branch="ngModel" class="form-control"
               [class.is-invalid]="branch.invalid && branch.touched"
               class="form-control" name="branch" [(ngModel)]="gitBranch">
        <small class="text-danger" [class.d-none]="branch.valid || branch.untouched">
          Git branch is required </small>
      </label>
      <br>
    </div>
    <br>
    <!--End of cloud providers-->


    <div class="form-group">
      <label>Executable Name</label>
      <input type="text" required #executableName="ngModel"
             [class.is-invalid]="executableName.invalid && executableName.touched" class="form-control"
             name="executableName" [(ngModel)]="protocolModel.executableName">
      <small class="text-danger" [class.d-none]="executableName.valid || executableName.untouched">
        Executable name is required</small>
    </div>

    <div class="form-group">
      <label>Configurations</label>
      <input type="text" required #configurations="ngModel"
             [class.is-invalid]="configurations.invalid && configurations.touched" class="form-control"
             name="configurations" [(ngModel)]="protocolModel.configurations">
      <small class="text-danger" [class.d-none]="configurations.valid || configurations.untouched">
        Configurations are the parameters for execution. Please fill them</small>
    </div>

    <div class="form-group">
      <label>Number Of Repetitions</label>
        <input type="number" required #numberOfRepetitions="ngModel"
               [class.is-invalid]="numberOfRepetitions.invalid && numberOfRepetitions.touched" class="form-control"
               name="numberOfRepetitions" [(ngModel)]="protocolModel.numOfIterations">
         <small class="text-danger" [class.d-none]="numberOfRepetitions.valid || numberOfRepetitions.untouched"></small>
        <!--TODO Numbers validation-->
    </div>

    <div class="form-group">
      <label>Working Directory</label>
      <input type="text" required #workDir="ngModel"
             [class.is-invalid]="workDir.invalid && workDir.touched" class="form-control"
             name="workDir" [(ngModel)]="protocolModel.workingDirectory">
      <small class="text-danger" [class.d-none]="workDir.valid || workDir.untouched">
        Working directory is the directory where the protocol is installed end executed. Please fill it</small>
    </div>

    <div class="form-group">
      <label>Results Directory</label>
      <input type="text" required #resultsDir="ngModel"
             [class.is-invalid]="resultsDir.invalid && resultsDir.touched" class="form-control"
             name="resultsDir" [(ngModel)]="protocolModel.resultsDirectory">
      <small class="text-danger" [class.d-none]="resultsDir.valid || resultsDir.untouched">
        Results directory is the directory where the protocol results are downloaded. Please fill it</small>
    </div>

    <div class="form-group">
      <label>Institute</label>
      <input type="text" required #institute="ngModel"
             [class.is-invalid]="institute.invalid && institute.touched" class="form-control"
             name="institute" [(ngModel)]="protocolModel.institute">
      <small class="text-danger" [class.d-none]="institute.valid || institute.untouched">
        Please fill your institute</small>
    </div>

    <div class="form-group">
      <label>Security Level</label>
      <select required (blur)="validateSl(security.value)" (change)="validateSl(security.value)"
              #security="ngModel"
              [class.is-invalid]="security.invalid && security.touched"
              class="custom-select" name="securityLevel" [(ngModel)]="protocolModel.securityLevel">
        <option *ngFor="let sl of securityLevel">{{ sl }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!slHasError || security.untouched">
        Please select value from the list</small>
    </div>

    <div class="form-group">
      <label>Security Threshold</label>
      <select required (blur)="validateSt(thresholdLevel.value)" (change)="validateSt(thresholdLevel.value)"
              #thresholdLevel="ngModel"
              [class.is-invalid]="thresholdLevel.invalid && thresholdLevel.touched"
              class="custom-select" name="thresholdLevel" [(ngModel)]="protocolModel.thresholdLevel">
        <option *ngFor="let st of securityThreshold">{{ st }}</option>
      </select>
      <small class="text-danger" [class.d-none]="!stHasError || thresholdLevel.untouched">
        Please select value from the list</small>
    </div>

    <br>
    <button [disabled]="userForm.form.invalid || slHasError" class="btn btn-primary" type="submit">
      Upload Protocol
    </button>

  </form>
</div>
