### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.xlsx
*.json
InstancesConfigurations/instances_ids_*
InstancesConfigurations/public_ips
InstancesConfigurations/parties*.conf
InstancesConfigurations/Parties_gf2n.txt
InstancesConfigurations/Parties_gfp.txt

Execution/execution_log.log
GlobalConfigurations/tokens.json
GlobalConfigurations/azureTokens.json

WebApp/frontend/assets
WebApp/node_modules
WebApp/DeploymentLogs
WebApp/ExecutionLogs
