### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
*.xlsx
InstancesConfigurations/instances_ids_*
InstancesConfigurations/public_ips
InstancesConfigurations/parties*.conf
NodeApp/InstancesConfigurations/public_ips
NodeApp/InstancesConfigurations/parties*.conf
NodeApp/node_modules
InstancesConfigurations/Parties_gf2n.txt
InstancesConfigurations/Parties_gfp.txt
Execution/execution_log.log
GlobalConfigurations/tokens.json

