<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/competitions">Competitions</a>
      <a mat-list-item routerLink="/protocols">Protocols</a>
      <a mat-list-item routerLink="/circuits">Circuits</a>
      <a mat-list-item routerLink="/deployment">Deployment</a>
      <a mat-list-item routerLink="/execution">Execution</a>
      <a mat-list-item routerLink="/reporting">Reporting</a>
    </mat-nav-list>
  </mat-sidenav>
  <!--For elements outside the navbar-->
  <mat-sidenav-content>
    <ng-content></ng-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle().catch()"
              type="button"
              aria-label="Toggle sidenav"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MATRIX</span>
      <span class="spacer"></span>
<!--      <ng-container *ngIf="isLoggedIn; else logout_div">-->
        <a routerLink="/login">Login</a>
<!--      </ng-container>-->

<!--      <ng-template #logout_div>-->
        <a (click)="logout();">Sign Out</a>
<!--      </ng-template>-->

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
