extends layout

block content
    h2=title
    p Welcome to #{title} system. The system was built by Bar Ilan Center for Research in Applied Cryptography and Cyber Secuirty.
        <br>To navigate in the site use the sidebar menu.
