extends layout

block content
  h1=title
  p Welcome to #{title} system. The system was built in order to supply easy API to perform experiments in Bar Ilan Center for Research in Applied Cryptography and Cyber Secuirty.
