extends layout

block content
    title Polls
    h3 Polls page

    body
        div(class='container-fluid')
            div(class='row')
                div(class='col-sm-2')
                    li
                        a(href='/polls/parties') Generate network parties file
                    li
                        a(href='/polls/configuration') Generate configuration file
                    li
                        a(href='/polls/circuit') Generate circuit file
                    li
                        a(href='/polls/mapping') Generate mapping file

                div(class='col-sm-10')
