extends layout

block content

    h3 Polls page

    body
        div(class='container-fluid')
            div(class='row')
                div(class='col-sm-2')
                <br> Welcome to Polls page. Choose one of the options below.
                <br><br>
                    li
                        a(href='/polls/prepareOnline') Prepare online phase
                    li
                        a(href='/polls/parties') Get parties file
                    li
                        a(href='/polls/circuit') Get Circuit file
                    li
                        a(href='/polls/configuration') Get configuration file
                    li
                        a(href='/polls/isReadyForPoll') Check if poll is ready for execution
                    li
                        a(href='/polls/executePoll') Execute Poll

                div(class='col-sm-10')
