extends layout

block content
  h3 #{title}

  p You will be directed to execution page in about 5 seconds.<br>
    script.
       function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
       }

       async function demo() {
       console.log('Taking a break...');
       await sleep(15000);
       console.log('Two second later');
       }

       demo();
    If it does not happen click a(href='executePoll'):here