<div class="info">
  The page contains all the protocols that benchmark with MATRIX.<br>
  To upload a new protocol press the button below.
  <br><br>
  <a href="protocols/upload" class="badge badge-primary" >Upload new protocol</a>
</div>
<br>
<br>

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Protocol Name </mat-header-cell>
      <mat-cell *matCellDef="let protocol">  {{protocol.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="security">
      <mat-header-cell *matHeaderCellDef> Security Level </mat-header-cell>
      <mat-cell *matCellDef="let protocol"> {{protocol.securityLevel}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="threshold">
      <mat-header-cell *matHeaderCellDef> Threshold Level </mat-header-cell>
      <mat-cell *matCellDef="let protocol"> {{protocol.securityThreshold}} </mat-cell>
    </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
