{% extends 'layout.html' %}

{% block body %}

    <div class="info">
        <h1>About</h1>
        <br>
        <p class="lead">
            MATRIX is an MPC Test Automation Framework developed by
            <a href="https://crypto.biu.ac.il/">Bar Ilan Cyber Center.</a>
            <br>MATRIX developed as an open source project. For deploying on-premise or contribute MATRIX,
            please refer to our <a href="https://github.com/cryptobiu/MATRIX"> GitHub </a> page
        </p>
    </div>
{% endblock %}