{% extends 'layout.html' %}

{% block body %}

<h3>Circuits</h3>
<br><br>

<p class="lead">
    This page contains the circuits that we are using our competitions.<br>
    To read more about the circuits specification visit MATRIX
    <a href="https://github.com/cryptobiu/MATRIX" target="_blank"> README </a>
</p>

<hr>

<table class="table">
        <tr>
            <th>Circuit Name</th>
            <th>#Gates</th>
            <th>#Multipliplication Gates</th>
            <th>#Inputs</th>
            <th>#Type</th>
            <th>#Description</th>
        </tr>
        {% for file in circuit_files %}
        <tr>
            <td>{{file.name}}</td>
            <td>{{file.gates}}</td>
            <td>{{file.mult_gates}}</td>
            <td>{{file.inputs}}</td>
            <td>{{file.type}}</td>
            <td>{{file.description}}</td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}