{% extends 'layout.html' %}

{% block body %}

<h3>Competitions Admin Panel</h3>

{% from "includes/_formhelpers.html" import render_field %}
<form method="post" action="">
    <br>
    <div class="form-group">
        {{render_field(form.name, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.description, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.start_date, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.end_date, class="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.status, class="form-control")}}
    </div>
    <p><input type="submit" name="" class="btn btn-primary" value="Submit"></p>
</form>


{% endblock %}

