{% extends 'layout.html' %}

{% block body %}
<h3>Competitions</h3>
<br><br>
<p class="lead">
    Welcome {{session.username}}
    <br>
    The MATRIX framework allows researchers/developers to benchmark their MPC protocols.
    To integrate your protocol read
    <a href="https://github.com/cryptobiu/MATRIX#matrix-configurations" target="_blank"> instructions </a> here.
</p>
<br>


<div class="table">
    <table class="table">
        <tr>
            <th>Competition Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        {% for competition in competitions %}
        <tr>
            <td>{{competition.competitionName}}</td>
            <td>{{competition.description}}</td>
            <td>{{competition.startDate}}</td>
            <td>{{competition.endDate}}</td>
            <td>{{competition.status}}</td>
            <td><a href="register_competition/{{competition.competitionName}}" class="btn btn-default pull-right"/>
                Participate</td>
            <td><a href="" class="btn btn-default pull-right"/>Results</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

