{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.username}}</small></h1>
    <br><a class="btn btn-primary" href="/add_config">Add configuration</a>

    <hr>
    <table class="table">
        <tr>
            <th>Protocol Name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for file in config_files %}
        <tr>
            <td>{{file}}</td>
            <td><a href="edit_file/{{file}}" class="btn btn-default pull-right"/>Deploy</td>
            <td><a href="edit_file/{{file}}" class="btn btn-default pull-right"/>Execute</td>
            <td><a href="edit_file/{{file}}" class="btn btn-default pull-right"/>Report</td>
            <td><a href="edit_config/{{file}}" class="btn btn-default pull-right"/>Edit</td>
            <td>
                <form action="{{url_for('delete_file', title=file)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

