{% extends 'login_layout.html' %}

{% block body %}

<div class="info">
    <input id="txtEmail" type="email" placeholder="Email"> <br>
    <input id="txtPassword" type="password" placeholder="password"> <br> <br>
    <button id="btnLogin" class="btn btn-primary ">Log in</button>
    <button id="btnSignUp" class="btn btn-secondary ">Sign Up</button>
    <button id="btnLogout" class="btn btn-action hide">Log out</button>
    <script type="text/javascript" src="{{ url_for('static', filename='login.js')}}"></script>
</div>

{% endblock %}