{% extends 'layout.html' %}

{% block body %}
<h3> Register to {{competition_name}}</h3>

<div class="info">
    To submit a protocol for the competition, please insert your protocol repository address the form below.<br>
    Your git repository must be <b>public</b>.
</div>
{% from "includes/_formhelpers.html" import render_field %}

<form method="POST" action="">
    <br>
    <div class="form-group">
        {{render_field(form.address, class_="form-control")}}
    </div>
    <p><input type="submit" name="" class="btn btn-primary" value="Submit"></p>
</form>

{% endblock %}