<div class="container-fluid mb-5">
  <div class="alert alert-danger" *ngIf="errmsg">
    {{ errmsg }}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" target="/protocols" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
      <h5>Cloud Providers</h5><br>
      <label>
        Cloud Provider Name <br> <br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="selectedCP" name="cloudProviderName"
                         #cloudProviderName="ngModel" required
                         [class.isInvalid]="cloudProviderName.invalid && cloudProviderName.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let cp of cloudProvidersName" [value]="cp">
            {{cp}} <br>
          </mat-radio-button>
        </mat-radio-group>
      </label>
      <br>

      <ng-container *ngIf="cloudProviderName.value === 'AWS'; else azure">
        Regions<br><br>
        <ng-container *ngFor="let zone of awsRegions | keyvalue">
          <ng-container *ngFor="let z of zone.value">
            <mat-checkbox (change)="onCheckBoxChange($event, z)">{{z}}</mat-checkbox>
            <span></span>
            </ng-container>
          <br>
        </ng-container>

      </ng-container>

      <ng-template #azure>
        <ng-container *ngIf="cloudProviderName.value === 'Azure'">
          Regions<br><br>
          <ng-container *ngFor="let r of azureRegions">
           <mat-checkbox (change)="onCheckBoxChange($event, r)">{{r}}</mat-checkbox><br>
          </ng-container>
        </ng-container>
      </ng-template>
      <br>

      <ng-container *ngIf="cloudProviderName.value === 'AWS'; else azInstances">
        Architecture <br><br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="awsSelectedArch" name="archs"
                         #archs="ngModel" required
                         [class.isInvalid]="archs.invalid && archs.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let aa of awsArch" [value]="aa">
            {{aa}} <br>
          </mat-radio-button>
        </mat-radio-group>
        <br><br>
        <ng-container *ngIf="this.awsSelectedArch === 'x86_64'; else ArmInstances">
          <mat-radio-group class="tp-radio-group" [(ngModel)]="instanceType" name="awsInstanceType"
                           #awsInstanceType="ngModel" required
                           [class.isInvalid]="awsInstanceType.invalid && awsInstanceType.touched">
            Instance Type <br><br>
            <ng-container class="tp-radio-button" *ngFor="let ai of awsX64Instances | keyvalue">
              <span><b>{{ ai.key }}</b>: </span>
                <mat-radio-button *ngFor="let i of ai.value" [value]="i">
                  {{i}} <br>
                </mat-radio-button>
              <br>
            </ng-container>
          </mat-radio-group>
        </ng-container>
        <ng-template #ArmInstances>
          <ng-container *ngIf="awsSelectedArch === 'ARM'">
            <mat-radio-group class="tp-radio-group" [(ngModel)]="instanceType" name="awsInstanceType"
                             #awsInstanceType="ngModel" required
                             [class.isInvalid]="awsInstanceType.invalid && awsInstanceType.touched">
              Instance Type<br><br>
              <mat-radio-button class="tp-radio-button" *ngFor="let aai of awsArmInstances" [value]="aai">
                {{aai}} <br>
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="cloudProviderName.value === 'AWS'">
        <label>
        AMI Name<br>
        <input type="text" required #amiName="ngModel"
               [class.is-invalid]="amiName.invalid && amiName.touched" class="form-control"
               matTooltip="If you choose more then one region, please insert the values with comma separator"
               name="awsAmiName" [(ngModel)]="awsAmiName">
         <small class="text-danger" [class.d-none]="amiName.valid || amiName.untouched"></small>
      </label>
      <br>

        <label>
        Security Group Name<br>
        <input type="text" required #securityGroup="ngModel"
               [class.is-invalid]="securityGroup.invalid && securityGroup.touched" class="form-control"
               matTooltip="If you choose more then one region, please insert the values with comma separator"
               name="securityGroupName" [(ngModel)]="securityGroupName">
         <small class="text-danger" [class.d-none]="securityGroup.valid || securityGroup.untouched"></small>
      </label>
      <br>

        <label>
        key file Name<br>
        <input type="text" required #keyFile="ngModel"
               [class.is-invalid]="keyFile.invalid && keyFile.touched" class="form-control"
               matTooltip="If you choose more then one region, please insert the values with comma separator"
               name="keyFileName" [(ngModel)]="keyFileName">
         <small class="text-danger" [class.d-none]="keyFile.valid || keyFile.untouched"></small>
      </label>
      <br>

      </ng-container>

      <ng-template #azInstances>
        <ng-container *ngIf="cloudProviderName.value === 'Azure'">
          Instance Type <br><br>
        <mat-radio-group class="tp-radio-group" [(ngModel)]="instanceType" name="azureInstanceType"
                         #azureInstanceType="ngModel" required
                         [class.isInvalid]="azureInstanceType.invalid && azureInstanceType.touched">
          <mat-radio-button class="tp-radio-button" *ngFor="let ai of azureInstances" [value]="ai">
            {{ai}} <br>
          </mat-radio-button>
        </mat-radio-group>
        </ng-container>
      </ng-template>
      <br>

      <label>
        Number Of Parties<br>
        <input type="number" required #numberOfParties="ngModel"
               [class.is-invalid]="numberOfParties.invalid && numberOfParties.touched" class="form-control"
               name="numberOfParties" [(ngModel)]="numOfParties">
         <small class="text-danger" [class.d-none]="numberOfParties.valid || numberOfParties.untouched"></small>
      </label>
      <br>

      <label>
        Git Address
        <input type="url" required (blur)="validateAddress(repoAddress.value)"
        (change)="validateAddress(repoAddress.value)" #repoAddress="ngModel"
               [class.is-invalid]="repoAddress.invalid && repoAddress.touched"
               class="form-control" name="repoAddress" [(ngModel)]="gitAddress">
        <small class="text-danger" [class.d-none]="repoAddress.valid || repoAddress.untouched">
          Git Address is required and must be valid http/https address</small>
      </label>
      <br>

      <label>
        Git Branch
        <input type="text" required #branch="ngModel" class="form-control"
               [class.is-invalid]="branch.invalid && branch.touched"
               class="form-control" name="branch" [(ngModel)]="gitBranch">
        <small class="text-danger" [class.d-none]="branch.valid || branch.untouched">
          Git branch is required </small>
      </label>
      <br>
    </div>
    <br>

    <!--End of cloud providers-->

    <button [disabled]="userForm.form.invalid " class="btn btn-primary" type="submit">
      Update Configuration
    </button>

  </form>
</div>
