<nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="nav navbar-nav mr-auto">
              <li>
                  <a href="https://cyber.biu.ac.il/" target="_blank">
                      <img src="{{ url_for('static',filename='original_BIU.png') }}" height="50" width="120">
                  </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/competitions">Competitions</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/circuits">Circuits</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/competitions_manage">Admin Panel</a>
              </li>
        </ul>
          
      </div>
</nav>