<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="competition name">
      <mat-header-cell *matHeaderCellDef> Competition Name </mat-header-cell>
      <mat-cell *matCellDef="let competition"> {{competition.competitionName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let competition"> {{competition.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="start date">
      <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
      <mat-cell *matCellDef="let competition"> {{competition.startDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="end date">
      <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
      <mat-cell *matCellDef="let competition"> {{competition.endDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let competition"> {{competition.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="competition details">
      <mat-header-cell *matHeaderCellDef> Competition Details </mat-header-cell>
      <mat-cell *matCellDef="let competition">
        <a routerLink="/competitions/{{competition.competitionName}}"
           class="badge badge-info">View</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registration">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let competition">
        <a *ngIf="competition.status === 'Open'" href="competitions/registration/{{competition.competitionName}}"
           class="badge badge-primary" disabled="true">
          Participate</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

