<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    MATRIX
  </h1>
</div>
<br>
<div class="navbar">
  <nav class="justify-content-start">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/competitions" routerLinkActive="active">Competitions</a>
    <a routerLink="/circuits" routerLinkActive="active">Circuits</a>
  </nav>
  <nav class="justify-content-end">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/signout" routerLinkActive="active">Sign out</a>
  </nav>
</div>
<br>
<router-outlet></router-outlet>
