<div class="info">
  <p>
    Please choose the requested protocol and the requested action for the protocol. <br>
    Afterwards the requested results will be presented.
  </p>
</div>

<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Protocol Name </mat-header-cell>
      <mat-cell *matCellDef="let protocol">  {{protocol.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let protocol">
        <mat-select #actionSelected >
            <mat-option *ngFor="let action of actions" [(value)]="action" (onSelectionChange)=
              "onChange(action, protocol.name)">
              {{action}}
             </mat-option>
          </mat-select>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
