[Unit]
Description=gunicorn daemon for MATRIX system
After=network.target

[Service]
Type=simple
User=user
Group=www-data
WorkingDirectory=/home/user/MATRIX
ExecStart=/home/user/.local/bin/gunicorn --workers 3 --bind unix:matrix.sock -m 007 WebApp.app:app

[Install]
WantedBy=multi-user.target
