<h3>
  {{ protocolName }}
</h3>
<br>

<div class="info">

  {{ protocolName }} is going to execute up to {{ protocolData.numberOfParties }} parties with
  <b> {{ protocolData.machineType }}</b> machines.
  <br>
  {{ protocolName }} will be executed at those region(s):
  <ul *ngFor="let region of protocolData.regions">
    <li> {{ region }}</li>
  </ul>
  <br><br>

  The configurations for {{ protocolName }} are:
  <ul *ngFor="let conf of protocolData.configurations">
    <li> {{ conf }}</li>
  </ul>

</div>
<br><br>

<div class="form">
  If the above configurations are correct, press the button below to execute the protocol,
  otherwise edit it at your git repository
  <br><br>
    <button class="btn btn-primary" (click)="onSubmit()">
      Execute
    </button>
</div>
